flask
flask-cors
jsonify
chromadb 
python-dotenv 
requests 
PyPDF2 
sentence-transformers
pytesseract 
pymupdf
pillow
langchain
langchain-text-splitters
langchain-community
aiohttp
tenacity
flask["async"]

